In [7]:
from pyspark.sql import SparkSession
import findspark
findspark.init()

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Titanic Analysis") \
    .master("spark://spark-master:7077") \
    .getOrCreate()

# Read the dataset
df = spark.read.format("csv") \
    .option("header", True) \
    .option("separator", ",") \
    .load("hdfs://namenode:9000/titanic.csv")

In [8]:
# Show the data
print("Sample of Titanic dataset:")
df.show()

# Get basic statistics
print("\nDataset Statistics:")
df.describe().show()

Sample of Titanic dataset:

+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|Survived|Pclass|                Name|   Sex|Age|Siblings/Spouses Aboard|Parents/Children Aboard|   Fare|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|       0|     3|Mr. Owen Harris B...|  male| 22|                      1|                      0|   7.25|
|       1|     1|Mrs. John Bradley...|female| 38|                      1|                      0|71.2833|
|       1|     3|Miss. Laina Heikk...|female| 26|                      0|                      0|  7.925|
|       1|     1|Mrs. Jacques Heat...|female| 35|                      1|                      0|   53.1|
|       0|     3|Mr. William Henry...|  male| 35|                      0|                      0|   8.05|
|       0|     3|     Mr. James Moran|  male| 27|                      0|                      0| 8.4583|
|       0|     1|Mr. Timothy J McC...|  male| 54|                      0|                      0|51.8625|
|       0|     3|Master. Gosta Leo...|  male|  2|                      3|                      1| 21.075|
|       1|     3|Mrs. Oscar W (Eli...|female| 27|                      0|                      2|11.1333|
|       1|     2|Mrs. Nicholas (Ad...|female| 14|                      1|                      0|30.0708|
|       1|     3|Miss. Marguerite ...|female|  4|                      1|                      1|   16.7|
|       1|     1|Miss. Elizabeth B...|female| 58|                      0|                      0|  26.55|
|       0|     3|Mr. William Henry...|  male| 20|                      0|                      0|   8.05|
|       0|     3|Mr. Anders Johan ...|  male| 39|                      1|                      5| 31.275|
|       0|     3|Miss. Hulda Amand...|female| 14|                      0|                      0| 7.8542|
|       1|     2|Mrs. (Mary D King...|female| 55|                      0|                      0|     16|
|       0|     3| Master. Eugene Rice|  male|  2|                      4|                      1| 29.125|
|       1|     2|Mr. Charles Eugen...|  male| 23|                      0|                      0|     13|
|       0|     3|Mrs. Julius (Emel...|female| 31|                      1|                      0|     18|
|       1|     3|Mrs. Fatima Masse...|female| 22|                      0|                      0|  7.225|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
only showing top 20 rows


Dataset Statistics:

[Stage 4:>                                                          (0 + 1) / 1]

+-------+-------------------+------------------+--------------------+------+------------------+-----------------------+-----------------------+-----------------+
|summary|           Survived|            Pclass|                Name|   Sex|               Age|Siblings/Spouses Aboard|Parents/Children Aboard|             Fare|
+-------+-------------------+------------------+--------------------+------+------------------+-----------------------+-----------------------+-----------------+
|  count|                887|               887|                 887|   887|               887|                    887|                    887|              887|
|   mean| 0.3855693348365276| 2.305524239007892|                NULL|  NULL|29.471443066516347|     0.5253664036076663|     0.3833145434047351|32.30542018038328|
| stddev|0.48700411775101266|0.8366620036697728|                NULL|  NULL|14.121908405462552|      1.104668553867569|     0.8074659070316833|49.78204040017391|
|    min|                  0|                 1|Capt. Edward Giff...|female|              0.42|                      0|                      0|                0|
|    max|                  1|                 3|the Countess. of ...|  male|                 9|                      8|                      6|             93.5|
+-------+-------------------+------------------+--------------------+------+------------------+-----------------------+-----------------------+-----------------+

In [9]:
# Stop the Spark session
spark.stop()